# Advance Python by IQRA Learnings

## Noor Mohammed Sadiq Shaik

In [2]:
# Multi line String
temp ="""fsdfsss
sssssss
aaaa
cvb
zczcz
sdss
"""

In [4]:
print(type(temp))

<class 'str'>

In [6]:
# strip() #remove spaces from string 
#strip(),lstrip(),rstrip()
a= "      ram       "
a.lstrip()

'ram       '

In [7]:
a.rstrip()

'      ram'

In [8]:
a.strip()

'ram'

In [9]:
"   ram    rani    kiran   ".strip()

'ram    rani    kiran'

In [10]:
"   ram    rani    kiran   ".lstrip()

'ram    rani    kiran   '

In [11]:
"   ram    rani    kiran   ".rstrip()

'   ram    rani    kiran'

In [14]:
"   ram    rani    kiran   "[:10].strip()

'ram'

In [16]:
# join()
'ram'.join('abcd')

'arambramcramd'

In [17]:
'ravi'.join('q')

'q'

In [18]:
''.join('xyz')

'xyz'

In [19]:
# center()
"APSSDC".center(50)

'                      APSSDC                      '

In [20]:
"Python".center(30,'$')

'$$$$$$$$$$$$Python$$$$$$$$$$$$'

In [24]:
"abc".center(20,'1')

'11111111abc111111111'

In [25]:
# format()
"Ram {} a {}".format('is','boy')

'Ram is a boy'

In [26]:
"{} is a {}".format(input("Enter Name:"),input("Enter Gender:"))

Enter Name:ravi kumar
Enter Gender:boy

'ravi kumar is a boy'

In [27]:
"Ram {0} a {1}".format('is','boy')

'Ram is a boy'

In [28]:
"Ram {1} a {0}".format('is','boy')

'Ram boy a is'

In [29]:
"{} have {} Rupess".format("Narayana",1000)

'Narayana have 1000 Rupess'

In [32]:
# endswith()
print("programming".endswith("g"))
print("programming".endswith("z"))

True
False

In [36]:
#startswith()
print("car".startswith('c'))
print('python'.startswith('P'))
print('python'.startswith('P'.lower()))

True
False
True

In [38]:
# How to find length of String
print(temp)
len(temp)

fsdfsss
sssssss
aaaa
cvb
zczcz
sdss

36

In [41]:
print(len('dmdslfsf sfsdfdf sdfdsf sfsfwe wew'))
print(len("                 "))

34
17

In [48]:
# max()
print(max('abzcedf'))
print(max('ABC142$'))

z
C

In [52]:
# min()
print(min('nkiswmskxmakAMENF'))
print(min("abcABC125*&(  "))

A

In [ ]:
# String Methods
# lower,upper,isupper,islower,isdigit,startswith,endswith,find,index,split,
# splitlines,center,replace,strip,format,join

## Conditional Statments
- if 
- if else
- else if --> elif
- Nested if

In [53]:
# if Example

# find Given value is Even/Odd
n = int(input("Enter Vlaue--> "))
if n%2==0:# :  ---> block strating 
    print("I am in if block because I have tab space after ':'")
    print("Even Number")
print("I am outof if block")

Enter Vlaue--> 2
I am in if block because I have tab space after ':'
Even Number
I am outof if block

In [59]:
n = int(input("Enter Vlaue--> "))
if n%2==0:# :  ---> block strating 
        print("I am in if block because I have tab space after ':'")
        print("Even Number")
print("I am outof if block")

Enter Vlaue--> 45
I am outof if block

In [61]:
# if else Exmaple
temp = int(input("Enter Value: "))
if temp%2==0: # --> {
    print("Given value",temp, "is a Even Number.")
else:
    print("Given value",temp, "is a Odd Number.")

Enter Value: 8
Given value 8 is a Even Number.

In [65]:
"{} attence is {} sferrfewe wrfewfsefsef".format(input("Enter name"),int(input("Attendence")))

Enter nameravi
Attendence78

'ravi attence is 78 sferrfewe wrfewfsefsef'

In [66]:
"ramu@gmail.com".split('@gmail.com')

['ramu', '']

In [67]:
'abc'.center(9,'#') #9-3=6[l3,r3]

'###abc###'

In [68]:
'abcd'.center(9,'#') #9-4=5[l4,r3]

'###abcd##'

In [70]:
"A5B4C3D2E1F".split('1')

['A5B4C3D2E', 'F']

In [71]:
a= "narayana ravi anil"

In [72]:
a[1:5]#2nd Arg n-2 /Exclusive

'aray'

In [73]:
a[:]

'narayana ravi anil'

In [74]:
a[5:]

'ana ravi anil'

In [75]:
a[::-1]

'lina ivar anayaran'