# Advance Python by IQRA Learnings

## Some Important Concepts in Python

1. **Variables in Python**

2. **Operators in Python** 

3. **Datatypes in Python**

4. **Data Structures in Python**

### Printing the basic first common program in python

In [8]:
# Printing the first program in our python

print('Noor Mohammed Sadiq Shaik (1)')  # we can use single quotes
print("Noor Mohammed Sadiq Shaik (2)")  # We can use double quotes
print('''Noor Mohammed Sadiq Shaik (3)''')  # we can use tripple quotes

Noor Mohammed Sadiq Shaik (1)
Noor Mohammed Sadiq Shaik (2)
Noor Mohammed Sadiq Shaik (3)

#### Different Functions We Discussed  in this tutorial

1. print()
    * use to print the user data
2. help()   
    * helps the user
3. type()
    * used to know the type of an variable
4.

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 1. Variables in Python :-

**Data / Values can be stored in temp storage space called Variables**

**x** = **10** (int), str, value, float, etc

Here **x** is an variable and **10** is the value / Data that is stored in it.

where the variable may be any word, charecter
    
   **but the variable cannot be a number**

In [1]:
# Example to an Variable

x = 123

print(x)   # Print() is a function which prints the data given by the user

123

In [2]:
name_var = 20

print(name_var)

20

In [3]:
10 = 20

SyntaxError: can't assign to literal (<ipython-input-3-15c588d0eaae>, line 1)

In [4]:
20 = 10

SyntaxError: can't assign to literal (<ipython-input-4-97505afb8e51>, line 1)

**Number cannot be a vatiable**

**if we need to assing a number we have to give in combination of word_Number

In [6]:
name_123 = 123

print(name_123)

123

In [10]:
x1 = 'Name'

print(x1)

Name

In [11]:
type(x1)

str

In [12]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The most base type
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 864
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

## 2. Operators in Python:-

There are three diffternt operators in python
1. **Arithmetic operator**
2. **Relational operator**
3. **Logical operator**

### 1. Arthmetic Operators

	1. (**) Exponent	--> 2 ** 3 = 8

	2. (%) Modulus/remainder	--> 22 % 8 = 6

	3. (//) Integer division/floored quotient	--> 22 // 8 = 2
	
	4. (/) division			--> 22 / 8 = 2.75
	
	5. (*) Multiplication 	--> 3 * 5 = 15
	
	6. (-) Subtraction 	--> 5 - 2 = 3
	
	7. (+) Addition		--> 2 + 2 = 4

**We can use our python shell as a calculator**

In [13]:
2 + 2

4

In [14]:
10 + 10

20

In [15]:
123456789 + 987654321

1111111110

In [16]:
68435756543873.6978 * 584737863789

4.0016978088248785e+25

In [17]:
16864 / 4

4216.0

In [18]:
25873456369 // 57

453920287

In [19]:
68764687 % 2

1

### 2. Relational Operator

	  1.	<	(Less than)
	  2.	>	(More than)
	  3.	==	(Double Equal)
	  4.	!=	(Not Equal)
	  5.	<=	(Less than or Equal)
	  6.	>=	(More than or Equal)

In [20]:
10 < 20

True

In [21]:
150 > 20

True

In [22]:
150 < 20

False

In [23]:
10 == 20

False

In [24]:
10 == 10

True

In [25]:
20 <= 20.0001

True

In [26]:
20 >= 20.0001020

False

### 3. Logical Operators

	  1.	&	(And)
	  2.	|	(Or)

         in & table:
         
		 0 & 0 = 0
		 0 & 1 = 0
		 1 & 0 = 0
		 1 & 1 = 1
         
         Where 
         1 = True
         0 = False

In [27]:
10 & 10

10

In [28]:
10 & 20

0

In [30]:
True & True

True

In [31]:
True & False

False

In [33]:
False & False

False

		 in | table:

		 0 | 0 = 1
		 0 | 1 = 0
		 1 | 0 = 0
		 1 | 1 = 0
         
         Where 
         1 = True
         0 = False

In [34]:
True | True

True

In [35]:
True | False

True

In [36]:
False | False

False

## 3. Data Types in Python

	Every variable is associated with a datatype

	--> y = 'DSMS', 10, 0.63, True, 10+5j
	where y is a variable which stores the values like str, int, float, bool, complex.
#### Strings in python:-
	
	Strings are the sequence of characters enclosed with quotes
	
	1.single quotes 	--> ' ' , 

	2.double quotes 	--> " " , and

	3.tripple quotes	--> ''' '''

#### Tokens in python:-

 * Smallest meaningfull components in a program are called Tokens

in python the tokens are: 
1. KeyWords
2. Identifiers == Variables
3. Literals == constant values
4. Operators == 3