# IQRA Learnings

## Noor Mohammed Sadiq Shaik

In [1]:
# Printing our first program in python

print('Noor Mohammed Sadiq Shaik')

Noor Mohammed Sadiq Shaik

**Variables**

In [2]:
x = 10

# Where x is a variable which stores the value of 10

print(x)

10

In [3]:
name = 'IQRA Learnings'

# Here name is the variable

print(name)

IQRA Learnings

In [4]:
type(name)

str

**Strings**

In [5]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**In the upper list in shell scripting we will use only those which dosent have the underscore '_'

In [7]:
string = ['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
string

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
str1 = 'hi this is noor from iqra learnings'

In [12]:
str1.capitalize()

# Which capitalize the starting characters of the string

'Hi this is noor from iqra learnings'

In [13]:
str1.casefold()

'hi this is noor from iqra learnings'

In [16]:
len(str1)

35

In [19]:
str1.find('iqra')

# Which returns the position of finding char

21

In [20]:
str1.upper()

'HI THIS IS NOOR FROM IQRA LEARNINGS'

In [21]:
str1.lower()

'hi this is noor from iqra learnings'

In [23]:
str1.rstrip()

'hi this is noor from iqra learnings'

In [24]:
str1.rsplit()

['hi', 'this', 'is', 'noor', 'from', 'iqra', 'learnings']

In [26]:
str1.swapcase()

'HI THIS IS NOOR FROM IQRA LEARNINGS'

In [30]:
str1.rpartition('iqra')

# Which seperate the req str

('hi this is noor from ', 'iqra', ' learnings')

**int**

In [31]:
s = 10

In [32]:
dir(s)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [33]:
inti = ['bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

**This is a task for you**

**Float**

In [34]:
v = 10.0202

In [35]:
type(v)

float

In [36]:
dir(float)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

**Operators in python**

* **Arthmetic Operators**

In [37]:
2 + 2

4

In [38]:
10 * 10

100

In [39]:
2000 /5

400.0

* **Relational Operator**

In [40]:
10 < 20

True

In [41]:
20 < 10

False

In [42]:
20 > 50

False

In [43]:
50 > 20

True

In [44]:
20 == 20

True

In [45]:
20 <= 20.05

True

In [46]:
10 != 20

True

* **Logical Operators**

In [47]:
True & True

True

In [48]:
True & False

False

In [49]:
False & False

False

In [50]:
False | False

False

In [51]:
True | True

True

**Slicing / Indexing the Str**

In [52]:
str1

'hi this is noor from iqra learnings'

In [53]:
str1[10]

' '

In [54]:
str1[1]

'i'

In [55]:
str1[0:2]

'hi'

In [57]:
str1[3:7]

'this'

In [60]:
str1[8:10]

'is'

In [62]:
str1[11:15]

'noor'

In [63]:
str1[16:20]

'from'

In [64]:
str1[21:25]

'iqra'

In [66]:
str1[26:35]

'learnings'

In [67]:
len(str1)

35

**Data Structures**

* **Tuple ( )**

In [68]:
tup = (1,2.02,3+5j,'IQRA')

In [85]:
type(tup)

tuple

In [69]:
len(tup)

4

In [70]:
tup[1]

2.02

In [71]:
tup[2]

(3+5j)

In [72]:
tup[0]

1

In [74]:
tup[3]

'IQRA'

In [79]:
tup[0] = 'Noor'

# Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [75]:
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [77]:
tup.count('IQRA')

1

* **List [ ]**

In [83]:
lis = [1,2.02,3+4j,'Noor','IQRA Learnings']

In [84]:
type(lis)

list

In [86]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [87]:
lis.append('Mohammed')

# Appends at the end of the list

In [88]:
lis

[1, 2.02, (3+4j), 'Noor', 'IQRA Learnings', 'Mohammed']

In [89]:
x = [1,2.02,3+5j,'Noor']
x

[1, 2.02, (3+5j), 'Noor']

In [92]:
x.clear()

# Clears the full list

In [91]:
x

[]

In [93]:
lis

[1, 2.02, (3+4j), 'Noor', 'IQRA Learnings', 'Mohammed']

In [97]:
lis.remove(2.02)

In [98]:
lis

[1, (3+4j), 'Noor', 'IQRA Learnings', 'Mohammed']

In [100]:
lis.reverse()

In [101]:
lis

['Mohammed', 'IQRA Learnings', 'Noor', (3+4j), 1]

In [102]:
lis[0] = "Sadiq"

In [103]:
lis

['Sadiq', 'IQRA Learnings', 'Noor', (3+4j), 1]

* **Dict { }**

In [104]:
dic = {1:'Noor',2:'Mohammed',3:'Sadiq',4:'From',5:'IQRA',6:'Learnings'}

In [105]:
type(dic)

dict

In [106]:
dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [108]:
dic.values()

dict_values(['Noor', 'Mohammed', 'Sadiq', 'From', 'IQRA', 'Learnings'])

In [109]:
dic.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [110]:
len(dic)

6

In [111]:
dic[0] = 'Shaik'

In [112]:
dic

{1: 'Noor',
 2: 'Mohammed',
 3: 'Sadiq',
 4: 'From',
 5: 'IQRA',
 6: 'Learnings',
 0: 'Shaik'}

In [113]:
dic[1] = 'Ameen'

In [114]:
dic

{1: 'Ameen',
 2: 'Mohammed',
 3: 'Sadiq',
 4: 'From',
 5: 'IQRA',
 6: 'Learnings',
 0: 'Shaik'}

**Sets and dict both are same the only difference is that set cannot allow the duplicate values**

**Input ( )**

In [115]:
x = input()

Noor Mohammed

In [116]:
# if we need the input as a int

x = int(input())

10

In [117]:
y = int(input())

Noor

ValueError: invalid literal for int() with base 10: 'Noor'

In [119]:
x = input()

type(x)

Noor

str

# END