# Advance Python by IQRA Learnings

## By Noor Mohammed Sadiq Shaik

# Day _ 03

# * Functions
# * Elements of Flow Control Statements
# * Range function using for loop

### Functions

1. What is a function?
2. How can we define a finction & how can we call the function?
3. Some programs on functions?

* Youâ€™re already familiar with the print(), input(), & len() functions from the previous chapters.

* Python provides several builtin functions like these, but you can also write your own functions.

* A function is like a mini-program within a program.

* A function is like a user defined code as per his requriments in python rules

**Defining our own function**

* The def keyword
* A Name_of_the_Function (should be starts with a str)
* A colon
* Starting on the next line, an indented block of code (called the if clause)

In [1]:
def hello():
    print('Hello this is my inner program')
    print('Second line')
    print('Third line')

* **Where my hello( ) function has three lines of code**
* **Now if i wants to call my all three lines of code**

In [2]:
# Calling the function name
hello()

Hello this is my inner program
Second line
Third line

In [3]:
def iqra():
    x = (1,2,3,4,5,6,7,8,9)
    print(x)
    print(x[0:5])

In [4]:
iqra()

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)

**Like we can made our own functions in python by using def keyword**

**Now lets see how can we call a function with passing perameters**

In [11]:
def name(x):
    print('Hello'+ ' ' + x)   # Where we can pass this x in our function

In [12]:
name('IQRA')

Hello IQRA

**Like wise we can pass the perameters in functions**

In [14]:
name('Shaik')

Hello Shaik

## Elements of Flow Control Statements

1. Conditions:-
    * condition is just a specific name in the context of flow control statement

2. Blocks of Code:-
    * start, end, condition, if, else, elif, lines, etc
    
3. Flow Control Statements
    * Different Flow Control Statments are

* **IF Statement**
* **ELSE Statement**
* **Elif Statement**
* **While Loop**

1. **If statement**

**Syntax is**
* The if keyword
* A condition (that is, an expression that evaluates to True or False)
* A colon
* Starting on the next line, an indented block of code (called the if clause)

In [15]:
name = 'IQRA'

In [16]:
if name =='IQRA':
    print('The name is matched')

The name is matched

2. **Else Statement**

**Syntax is**
* The else keyword
* A colon
* Starting on the next line, an indented block of code (called the else clause)

In [17]:
if name == 'Iqra':
    print('The name is matched')
else:
    print('The name is not matched')

The name is not matched

3. **elif statement**

**Syntax is**
* The elif keyword
* A condition (that is, an expression that evaluates to True or False)
* A colon
* Starting on the next line, an indented block of code (called the elif clause)

In [24]:
name = 'Noor'
age = int(22)
if name == 'Noor':
    print('Hi, Noor.')
elif age < 12:
    print('You are not Noor, kiddo.')
elif age > 100:
    print('You are not Noor, grannpa.')
elif age > 2000:
    print('Unlike you, Noor is not an undead, immortal vampire.')

Hi, Noor.

In [21]:
print('noor')

noor

4. **While Loop Statement**
    * **Break Statment**
    * **Continue Statement**

**Syntax is**
* The while keyword
* A condition (that is, an expression that evaluates to True or False)
* A colon
* Starting on the next line, an indented block of code (called the while clause)

In [25]:
name = 'noor'
while name != 'Noor':
    print('Please type your name:-')
    name = input()
print('Thank you!')

Please type your name:-
Noor
Thank you!

**Break Statement**

In [26]:
name = 'noor'
while name != 'Noor':
    print('Please type your name:-')
    name = input()
    if name == 'your name':
        break
print('Thank you!')

Please type your name:-
Noor
Thank you!

**Continue Statement**

In [28]:
while True:
    print('Who are you?')
    name = input()
    if name != 'Joe':
        continue
    print('Hello, Joe. What is the password? (It is a fish.)')
    password = input()
    if password == 'swordfish':
        break
print('Access granted.')

Who are you?
Joe
Hello, Joe. What is the password? (It is a fish.)
swordfish
Access granted.

## For loop using Range Function

**The range method is used for the itterations in program**

**Syntax is**
* The for keyword
* A variable name
* The in keyword
* A call to the range() method with up to three integers passed to it
* A colon
* Starting on the next line, an indented block of code (called the for clause

In [31]:
name = 'IQRA Learnings'
print('My name is ', name)
for i in range(5):
    print('Number of itteration (' + str(i) + ')')

My name is  IQRA Learnings
Number of itteration (0)
Number of itteration (1)
Number of itteration (2)
Number of itteration (3)
Number of itteration (4)

### The range( ) function repeats the program for given interval of itterations

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
# If we need the numbers from 1 to 100 we have to give the y value as n+1 value
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [34]:
# If we need the numbers with differrence
for i in range(1,50,2):   # Where (x,y,z) z is the difference number
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [36]:
for i in range(1,50,5): # Difference of 5
    print(i)

1
6
11
16
21
26
31
36
41
46

**lets write a small program for printing the multiplication table of given number**

POINTS

1. User Input
2. Logic

In [38]:
x = int(input('Enter the number of multiplication table you want:- '))
print('Entered number is', x)
for i in range(1,11):   # (x,y+1)
    print(x, 'x', i, '=', x*i)   # Logic
    # let x = 10
    # 10, 'x', i(1,10) ,'=', 10*(1,10)

Enter the number of multiplication table you want:- 10
Entered number is 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

### Printing Tables form 1 to 20 OR from x to y values

In [39]:
x=int(input("Enter the Starting Multiplication Number :- "))
y=int(input("Enter the Ending Multiplication Number :- "))
print()
print('___________Execution Starts___________')
print()
print("Starting Multiplication Number is :- (", x,')')
print("Ending Multiplication Number is :- (", y,')')
print()
for i in range(x,y+1):
    print(' Multiplication Table of :- (', i,')')
    for j in range(1,11):
            r=i*j
            print("     ",i,"x",j,"=",r)
    print("")
print("___________Execution Ends___________")
print()

Enter the Starting Multiplication Number :- 1
Enter the Ending Multiplication Number :- 20

___________Execution Starts___________

Starting Multiplication Number is :- ( 1 )
Ending Multiplication Number is :- ( 20 )

 Multiplication Table of :- ( 1 )
      1 x 1 = 1
      1 x 2 = 2
      1 x 3 = 3
      1 x 4 = 4
      1 x 5 = 5
      1 x 6 = 6
      1 x 7 = 7
      1 x 8 = 8
      1 x 9 = 9
      1 x 10 = 10

 Multiplication Table of :- ( 2 )
      2 x 1 = 2
      2 x 2 = 4
      2 x 3 = 6
      2 x 4 = 8
      2 x 5 = 10
      2 x 6 = 12
      2 x 7 = 14
      2 x 8 = 16
      2 x 9 = 18
      2 x 10 = 20

 Multiplication Table of :- ( 3 )
      3 x 1 = 3
      3 x 2 = 6
      3 x 3 = 9
      3 x 4 = 12
      3 x 5 = 15
      3 x 6 = 18
      3 x 7 = 21
      3 x 8 = 24
      3 x 9 = 27
      3 x 10 = 30

 Multiplication Table of :- ( 4 )
      4 x 1 = 4
      4 x 2 = 8
      4 x 3 = 12
      4 x 4 = 16
      4 x 5 = 20
      4 x 6 = 24
      4 x 7 = 28
      4 x 8 = 32
      4 x 9 = 36
      4 x 10 = 40

 Multiplication Table of :- ( 5 )
      5 x 1 = 5
      5 x 2 = 10
      5 x 3 = 15
      5 x 4 = 20
      5 x 5 = 25
      5 x 6 = 30
      5 x 7 = 35
      5 x 8 = 40
      5 x 9 = 45
      5 x 10 = 50

 Multiplication Table of :- ( 6 )
      6 x 1 = 6
      6 x 2 = 12
      6 x 3 = 18
      6 x 4 = 24
      6 x 5 = 30
      6 x 6 = 36
      6 x 7 = 42
      6 x 8 = 48
      6 x 9 = 54
      6 x 10 = 60

 Multiplication Table of :- ( 7 )
      7 x 1 = 7
      7 x 2 = 14
      7 x 3 = 21
      7 x 4 = 28
      7 x 5 = 35
      7 x 6 = 42
      7 x 7 = 49
      7 x 8 = 56
      7 x 9 = 63
      7 x 10 = 70

 Multiplication Table of :- ( 8 )
      8 x 1 = 8
      8 x 2 = 16
      8 x 3 = 24
      8 x 4 = 32
      8 x 5 = 40
      8 x 6 = 48
      8 x 7 = 56
      8 x 8 = 64
      8 x 9 = 72
      8 x 10 = 80

 Multiplication Table of :- ( 9 )
      9 x 1 = 9
      9 x 2 = 18
      9 x 3 = 27
      9 x 4 = 36
      9 x 5 = 45
      9 x 6 = 54
      9 x 7 = 63
      9 x 8 = 72
      9 x 9 = 81
      9 x 10 = 90

 Multiplication Table of :- ( 10 )
      10 x 1 = 10
      10 x 2 = 20
      10 x 3 = 30
      10 x 4 = 40
      10 x 5 = 50
      10 x 6 = 60
      10 x 7 = 70
      10 x 8 = 80
      10 x 9 = 90
      10 x 10 = 100

 Multiplication Table of :- ( 11 )
      11 x 1 = 11
      11 x 2 = 22
      11 x 3 = 33
      11 x 4 = 44
      11 x 5 = 55
      11 x 6 = 66
      11 x 7 = 77
      11 x 8 = 88
      11 x 9 = 99
      11 x 10 = 110

 Multiplication Table of :- ( 12 )
      12 x 1 = 12
      12 x 2 = 24
      12 x 3 = 36
      12 x 4 = 48
      12 x 5 = 60
      12 x 6 = 72
      12 x 7 = 84
      12 x 8 = 96
      12 x 9 = 108
      12 x 10 = 120

 Multiplication Table of :- ( 13 )
      13 x 1 = 13
      13 x 2 = 26
      13 x 3 = 39
      13 x 4 = 52
      13 x 5 = 65
      13 x 6 = 78
      13 x 7 = 91
      13 x 8 = 104
      13 x 9 = 117
      13 x 10 = 130

 Multiplication Table of :- ( 14 )
      14 x 1 = 14
      14 x 2 = 28
      14 x 3 = 42
      14 x 4 = 56
      14 x 5 = 70
      14 x 6 = 84
      14 x 7 = 98
      14 x 8 = 112
      14 x 9 = 126
      14 x 10 = 140

 Multiplication Table of :- ( 15 )
      15 x 1 = 15
      15 x 2 = 30
      15 x 3 = 45
      15 x 4 = 60
      15 x 5 = 75
      15 x 6 = 90
      15 x 7 = 105
      15 x 8 = 120
      15 x 9 = 135
      15 x 10 = 150

 Multiplication Table of :- ( 16 )
      16 x 1 = 16
      16 x 2 = 32
      16 x 3 = 48
      16 x 4 = 64
      16 x 5 = 80
      16 x 6 = 96
      16 x 7 = 112
      16 x 8 = 128
      16 x 9 = 144
      16 x 10 = 160

 Multiplication Table of :- ( 17 )
      17 x 1 = 17
      17 x 2 = 34
      17 x 3 = 51
      17 x 4 = 68
      17 x 5 = 85
      17 x 6 = 102
      17 x 7 = 119
      17 x 8 = 136
      17 x 9 = 153
      17 x 10 = 170

 Multiplication Table of :- ( 18 )
      18 x 1 = 18
      18 x 2 = 36
      18 x 3 = 54
      18 x 4 = 72
      18 x 5 = 90
      18 x 6 = 108
      18 x 7 = 126
      18 x 8 = 144
      18 x 9 = 162
      18 x 10 = 180

 Multiplication Table of :- ( 19 )
      19 x 1 = 19
      19 x 2 = 38
      19 x 3 = 57
      19 x 4 = 76
      19 x 5 = 95
      19 x 6 = 114
      19 x 7 = 133
      19 x 8 = 152
      19 x 9 = 171
      19 x 10 = 190

 Multiplication Table of :- ( 20 )
      20 x 1 = 20
      20 x 2 = 40
      20 x 3 = 60
      20 x 4 = 80
      20 x 5 = 100
      20 x 6 = 120
      20 x 7 = 140
      20 x 8 = 160
      20 x 9 = 180
      20 x 10 = 200

___________Execution Ends___________

### As like we can perform many things using python simple commands
### If any one wants to learn message me on +91 6302927979
### Or Mail me on shaiknoormohammedsadiq@gmail.com

# END

# Thank You